.navbar{
    background-image:url("https://media.giphy.com/media/3oKIPlB1nanDvSf5Ys/giphy.gif?blur");
    background-size:cover;
    background-image:center;
}

body{
    background-image:url("https://media.giphy.com/media/xTiTnI1mdyxsFKTFjW/giphy.gif");
    background-size:cover;
}

.cheese{
    background:#AAAA39;
    font-family:comic Sans MS;
}

.center{
     margin: 0 auto; width: 400px;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

.audioCenter{
    margin: 10px auto; width: 320px;
}
.heart{
    display:block;
    margin: 0 auto;
}

.Questions{
    text-align:center;
}

h6{
    font-size:30px;
}
h7{
    font-size:30px;
}
#w{
    background-image:url("Assets/Yin Yang.gif");
    background-size:cover;
    background-image:center;
}